* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

/*! Hero Section */
.hero {
  position: relative;
}

.hero .hero-content img {
  width: 100%;
  height: 100vh;
}

/*! Navbar Section */
.hero .navbar {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 81%;
  height: 4rem;
  background-color: white;
  border-radius: 1rem;
  z-index: 100;
}

.hero .navbar .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.hero .navbar .nav-links .link {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero .navbar .nav-links .link a.active {
  color: #65aef2;
}

.hero .navbar .nav-links .link .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.hero .navbar .nav-links .link .logo .logo-content {
  position: absolute;
}

.hero .navbar .nav-links .link .logo .logo-content h2 {
  display: flex;
  justify-content: center;
  color: #262626;
  font-size: 1.2rem;
}

.hero .navbar .nav-links .link .logo .logo-icon {
  color: #65aef2;
  font-size: 3rem;
  position: relative;
}

.hero .navbar .nav-links .link a {
  text-decoration: none;
  color: #262626;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
}

.hero .navbar .nav-links .link:hover {
  transform: scale(1.2);
}

.hero .navbar .nav-links .link a:hover {
  border-radius: 0.5rem;
  color: #65aef2;
}

/*! Book a Room Section */
