* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

/*! Hero Section */
.hero {
  position: relative;
}

.hero .hero-content img {
  width: 100%;
  height: 100vh;
}

/*! Navbar Section */
.hero .navbar {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 81%;
  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  z-index: 100;
}

.hero .navbar .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.hero .navbar .nav-links .link {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero .navbar .nav-links .link a.active {
  color: #65aef2;
}

.hero .navbar .nav-links .link .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.hero .navbar .nav-links .link .logo .logo-content {
  position: absolute;
}

.hero .navbar .nav-links .link .logo .logo-content h2 {
  display: flex;
  justify-content: center;
  color: #262626;
  font-size: 1.8rem;
}

.hero .navbar .nav-links .link .logo .logo-icon {
  color: #65aef2;
  font-size: 3rem;
  position: relative;
}

.hero .navbar .nav-links .link a {
  text-decoration: none;
  color: #262626;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
}

.hero .navbar .nav-links .link:hover {
  transform: scale(1.2);
}

.hero .navbar .nav-links .link a:hover {
  border-radius: 0.5rem;
  color: #65aef2;
}

/*! Book a Room Section */
.book {
  max-width: 75%;
  margin: 10rem auto;
}

.book .book-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 5rem 0;
}

.book .book-room h2 {
  font-size: 2rem;
  font-weight: 500;
}

.book .book-room p {
  font-size: 1rem;
  font-weight: 400;
  color: #5e5e5e;
}

.book .book-room-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  margin: 3rem 0;
}

.book .book-room-contents .content {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.book .book-room-contents .content .header {
  margin: 1rem 0;
  text-align: start;
}

.book .book-room-contents .content .adults-children {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.book .book-room-contents .content .adults-children .adults-children-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.book
  .book-room-contents
  .content
  .adults-children
  .adults-children-contents
  .number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.book .book-room-contents .content .book-now {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #65aef2;
  color: white;
}

.book .book-room-contents .content .book-now h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.book .book-room-contents .content:hover {
  transform: scale(1.1);
}

/*! Gallery Section */
.gallery {
  max-width: 90%;
  height: 60rem;
  margin: 12rem auto;
  display: flex;
  gap: 2rem;
}

.gallery .rooms {
  flex: 0.5;
  position: relative;
  border-radius: 2.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery .rooms img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery .rooms:hover {
  transform: scale(1.03);
}

.gallery .images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.gallery .images .image {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery .images .image:hover {
  transform: scale(1.03);
}

.gallery .images .image img {
  width: 100%;
  height: 100%;
}

/*! Special Offers Section */
.pricing .special-offers {
  max-width: 90%;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pricing .special-offers .title h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #65aef2;
}

.pricing .special-offers .view-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing .special-offers .view-all h2 {
  font-size: 4.5rem;
  font-weight: 500;
}

.pricing .special-offers .view-all a {
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: #65aef2;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;

  transition: all 0.3s ease;
}

.pricing .special-offers .view-all a:hover {
  transform: scale(1.1);
}

.pricing .special-offers .description {
  max-width: 55%;
}

.pricing .special-offers .description p {
  font-size: 1.5rem;
}

.pricing .price-cards {
  max-width: 90%;
  margin: 5rem auto;
  gap: 2rem;
}

.pricing .price-cards .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  overflow: hidden;

  transition: transform 0.3s ease;
}

.pricing .price-cards .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.pricing .price-cards .card .card-content img {
  transition: transform 0.3s ease;
}

.pricing .price-cards .card .card-content img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.pricing .price-cards .card .card-content p {
  color: #5e5e5e;
  font-weight: 600;
}

.pricing .price-cards .card .card-content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.pricing .price-cards .card .card-content .title h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.pricing .price-cards .card .card-content .title .person {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}

.pricing .price-cards .card .card-content .price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.pricing .price-cards .card .card-content .price span {
  font-size: 2.5rem;
  font-weight: 800;
}

.pricing .price-cards .card .card-content .price p {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

/*! Footer Section */
.footer {
  background-color: #1e1e1e;
  width: 100%;
  padding: 5rem 0;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-content {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer .footer-content .newsletter {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  padding-top: 3rem;
}

.footer .footer-content .newsletter h2 {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.footer .footer-content .newsletter .input {
  display: flex;
  align-items: center;
}

.footer .footer-content .newsletter .input input {
  padding: 0.5rem 1rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
  outline: none;
  width: 100%;
  max-width: 30rem;
  height: 5rem;
  font-size: 1.2rem;
  color: #333;
}

.footer .footer-content .newsletter .input input::placeholder {
  color: #a0a0a0;
}

.footer .footer-content .newsletter .input button {
  padding: 0.5rem 1rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: #65aef2;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 10rem;
  min-width: fit-content;
  height: 5rem;
  font-size: 1.2rem;
}

.footer .footer-right-side {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
  min-width: 400px;
  max-width: 50%;
}

.footer .footer-right-side .footer-hotel-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-right-side .footer-hotel-logo .logo-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer-right-side .footer-hotel-logo .logo-text-container h2 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.8;
}

.footer .footer-right-side .footer-hotel-logo .logo-icon-container {
  display: flex;
  align-items: center;
}

.footer .footer-right-side .footer-hotel-logo .logo-icon-container i {
  color: #65aef2;
  font-size: 2.5rem;
}

.footer .footer-right-side .footer-nav-columns {
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .footer-right-side .footer-nav-columns .links-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .footer-right-side .footer-nav-columns .links-column ul li a {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .footer-right-side .footer-nav-columns .links-column ul li a:hover {
  color: #65aef2;
}

/*! Copyright Section */
.copyright {
  background-color: #1e1e1e;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.copyright p {
  color: white;
  padding: 1.5rem 0;
  border-top: 1px solid white;
}
